@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/lib/signalr/signalr.js"></script>*@

<div class="container p-0">

    @*<ul>

            @foreach (var item in ViewBag.number) {
             <li>@item</li>
            }

        </ul>*@

    <div class="card">
        <div class="row g-0">
            <div class="col-12 col-lg-5 col-xl-3 border-right">

                <div class="px-4 d-none d-md-block">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <input type="text" class="form-control my-3" placeholder="Rechercher un contact...">
                        </div>
                    </div>
                </div>



                @foreach (var contact in ViewBag.contacts)
                {
                    <a asp-controller="Chat" asp-action="Index" asp-route-id="@contact.FollowedUser.Id" class="list-group-item list-group-item-action border-0">
                        
                        <div class="d-flex align-items-start">
                            @if (contact.FollowedUser.ProfilePicture != null)
                            {
                                <img src="data:image/*;base64,@(Convert.ToBase64String(contact.FollowedUser.ProfilePicture))" class="rounded-circle mr-1" alt="" width="40" height="40">
                            }
                            else
                            {
                                <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle mr-1" alt="" width="40" height="40">

                            }
                            <div class="flex-grow-1 ml-3">
                                @contact.FollowedUser.FirstName @contact.FollowedUser.LastName
                                <div class="small d-flex align-items-center">
                                    @if (ViewBag.connect.Contains(contact.Id_Followed_User))
                                    {
                                        <span class="fas fa-circle chat-online mr-1"></span>
                                        <p class="mb-0">Online</p>

                                    }
                                    else
                                    {
                                        <span class="fas fa-circle chat-offline mr-1"></span>
                                        <p class="mb-0">Offline</p>

                                    }
                                </div>
                            </div>
                        </div>
                    </a>
                }


                <hr class="d-block d-lg-none mt-1 mb-0">
            </div>
            <div class="col-12 col-lg-7 col-xl-9">
                <div class="py-2 px-4 border-bottom d-none d-lg-block">
                   
                </div>

                <div class="position-relative">
                    <div id="chat-messages-list" class="chat-messages p-4">
                        <div class="text-center" id="empty-chat" >
                            <h5 class="text-white">Bienvenue sur la page de chat</h5>
                            <h5 class="text-white">Veuillez choisir un contact pour commencer la discussion.</h5>
                            <img src="../wwwroot/img/undraw_social_networking.svg" alt="Alternate Text" height="200" />
                        </div>
                    </div>

                </div>

                <div class="flex-grow-0 py-3 px-4 border-top">

                </div>

            </div>
        </div>
    </div>
</div>

<style type="text/css">

    .chat-online {
        color: #34ce57
    }

    .chat-offline {
        color: #e4606d
    }

    .chat-messages {
        display: flex;
        flex-direction: column;
        max-height: 350px;
        overflow-y: scroll;
        min-height: 350px;
    }

    .chat-message-left,
    .chat-message-right {
        display: flex;
        flex-shrink: 0
    }

    .chat-message-left {
        margin-right: auto
    }

    .chat-message-right {
        flex-direction: row-reverse;
        margin-left: auto
    }

    .py-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .flex-grow-0 {
        flex-grow: 0 !important;
    }

    .border-top {
        border-top: 1px solid #dee2e6 !important;
    }
</style>


@*
    <script type="text/javascript">
        $(document).ready(function () {
            $("#send-btn").on('click', function () {
                var message = $("#message-box").val();
                if (message != "") {

                    var rootDiv = jQuery('<div>', {
                        class: 'chat-message-right pb-4',
                    }).appendTo('#chat-messages-list');

                    var imageAndTimeDiv = jQuery('<div>', {
                    }).appendTo(rootDiv);

                    imageAndTimeDiv.prepend('<img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">')
                    var time = jQuery('<div>', {
                        class: 'text-muted small text-nowrap mt-2'
                    });
                    var dateWithouthSecond = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
                    time.append(dateWithouthSecond);
                    imageAndTimeDiv.append(time);

                    var contentDiv = jQuery('<div>', {
                        class: 'flex-shrink-1 bg-light rounded py-2 px-3 mr-3',
                    }).appendTo(rootDiv);

                    var nameDiv = jQuery('<div>', {
                        class: 'font-weight-bold mb-1',
                    });
                    nameDiv.append("You");
                    contentDiv.append(nameDiv);
                    contentDiv.append(message);

                    //clear input box
                    $("#message-box").val('');

                }
            });
            $('#message-box').keypress(function (e) {
                if (e.which == 13) {
                    $('#send-btn').click();
                }
            });
        });

    </script>*@



